AnchorPane
{
    -fx-background-color: snow;
}

.button:hover{
    -fx-border-color: Yellow;
    -fx-border-width: 2px;
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}

.button{
    -fx-background-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-border-color: gold;

}

Label
{
    -fx-text-fill: Black;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 2px;
    -fx-border-color: #b4ac42;
}

TextArea
{
    -fx-text-fill: Black;
    -fx-background-color: transparent;
    -fx-border-color: #b4ac42;
    -fx-border-width: 1px;
}